{% extends 'layout.twig' %}

{%  block content %}

<section class="form login">
    <header>Let's Talk</header>
    <form action="{{ path('login') }}" method="post" enctype="multipart/form-data">
        {{ __csrf() }}
        {% if flash('error') %}
        <div class="error-txt">
            <li>{{ flash('error') }}</li>
        </div>
        {% endif %}
        <div class="field input">
            {{ input('email','Email','email') }}
        </div>
        <div class="field input">
            {{ input('password','Mot de pass','password') }}
            <i class="fa fa-eye"></i>
        </div>
        <div class="field button">
            <input type="submit" value="Se connecter">
        </div>
    </form>
    <div class="link">
        <a href="{{ path('user.register') }}">J'ai ne possede pas de compte</a>
    </div>
</section>

{% endblock %}