{% extends 'layout.twig' %}

{%  block content %}

<section class="form signup">
    <header>Let's Talk</header>
    <form action="{{ path('user.register.create') }}" method="POST" enctype="multipart/form-data">
{#        {% if(errors) %}#}
{#        <div class="error-txt" style="display: block">#}
{#            {% for(error in errors) %}#}
{#                <li>dd</li>#}
{#            {% endfor %}#}
{#        </div>#}
{#        {% endif %}#}
        <div class="name-details">
            <div class="field input">
                {{ input('name','Nom','text') }}
            </div>
            <div class="field input">
                {{ input('pseudo','Pseudo','text') }}
            </div>
        </div>
        <div class="field input">
            {{ input('email','Email','email') }}
        </div>
        <div class="field input">
            {{ input('password','Mot de pass','password') }}
            <i class="fa fa-eye"></i>
        </div>
        <div class="field image">
            {{ input('profil','Votre photo de profile','file') }}
        </div>
        <div class="field button">
            <input type="submit" value="S'inscrire">
        </div>
    </form>
    <div class="link">
        <a href="{{ path('user.login') }}">J'ai possede dja un compte</a>
    </div>
</section>

{% endblock %}